*{
    font-family: 'Playfair Display', serif;
}
header{
    text-align: center;
}

section{
    width: 80vw;
    margin: auto;
    

}

div{
    text-align: center;
}
button.btnAgregar{
    color: rgb(0, 204, 255);
    margin: 2px;
    width: 80%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(127, 255, 212, 0.342);
    box-shadow: 5px -5px 10px rgba(15, 0, 0, 0.349);
    
}

div#contTablaListado{
    margin-top: 20px;
    border: solid;
    
}

table{
    width: 100%;
}



